.copyright {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.copyright__link {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  column-gap: 4px;
  color: $base-grey;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 16px;
    background-image: url("/images/icons/stack.svg#logo-academy");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
