.features {
  min-height: 300px;

  @media (min-width: $tablet-width) {
    min-width: 630px;
  }

  @media (min-width: $desktop-width) {
    min-height: 554px;
  }
}

.features__container {
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.features__title {
  @include section-title;

  margin-bottom: 4px;
}

.features__sub-title {
  @include section-sub-title;

  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 14px; //Подгон
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}
