.feature {
  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: 82px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    text-align: center;
  }
}

.feature__title {
  max-width: 280px;
  margin-bottom: 4px;
  word-wrap: break-word;

  &::before {
    @include feature-icon;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.feature--speed .feature__title::before {
  width: 50px;
  height: 56px;
  background-image: url("/images/icons/stack.svg#feature-speed");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feature--fit .feature__title::before {
  width: 52px;
  height: 56px;
  background-image: url("/images/icons/stack.svg#feature-fit");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feature--energy .feature__title::before {
  width: 42px;
  height: 56px;
  background-image: url("/images/icons/stack.svg#feature-energy");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feature--ecology .feature__title::before {
  width: 46px;
  height: 56px;
  background-image: url("/images/icons/stack.svg#feature-ecology");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feature__description {
  max-width: 280px;
  margin: 0;
  color: $base-black;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    max-width: 266px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 318px;
  }
}
