.header-menu {
  @include flex;

  @media (max-width: $mobile-width-only) {
    margin-right: -20px;
    order: 2;
  }
}

.header-menu__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header-menu--closed .header-menu__toggle::before {
  @media (max-width: $mobile-width-only) {
    content: "";
    display: block;
    width: 16px;
    height: 12px;
    background-image: url("/images/icons/stack.svg#menu-closed");
  }
}

.header-menu--opened .header-menu__toggle::before {
  @media (max-width: $mobile-width-only) {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url("/images/icons/stack.svg#menu-opened");
  }
}

.header-menu--closed .header-menu__toggle:active {
  background-color: $base-secondary;
}

.header-menu__list {
  @include list-reset;

  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;

  z-index: 1000;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin-top: 60px;
    background-color: $base_white;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.header-menu__item {
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    min-width: 320px;
    border-bottom: 1px solid $base-secondary;

    &:first-child {
      border-top: 1px solid $base-secondary;
    }
  }
}

.header-menu__link {
  @include style-header-link;

  display: block;
  width: inherit;
  height: inherit;
  padding: 20px 10px;
  font-weight: 500;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    max-width: 114px;
    padding: 32px 20px;
  }

  &--current {
    @media (min-width: $tablet-width) {
      color: $base-primary;
      padding-bottom: 30px;
      border-bottom: 2px solid $base-primary;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .header-menu--closed .header-menu__list {
    display: none;
  }

  .header-nav--nojs .header-menu__list { //nojs для бургер-меню НЕ доделано
    display: block;
  }

  .header-menu--nojs .header-menu__toggle {
    display: none;
  }
}
