.list-radio__item {
  margin-bottom: 20px;
}

.list-radio__label {
  position: relative;
  display: flex;
  align-items: start;
  column-gap: 10px;
}

.list-radio__input {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 0;
  border: 2px solid $base-grey;
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
}

.list-radio__input:hover,
.list-radio__input:focus {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 16px;
    height: 16px;
    background-color: $primary-opacity;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.list-radio__input:focus {
  outline: none;
}

.list-radio__input:hover:disabled {
  &::before {
    display: none;
  }
}

.list-radio__input:disabled,
.list-radio__input:disabled:checked {
  border: 2px solid $light-grey;
  cursor: auto;
}

.list-radio__input:disabled:checked {
  &::before {
    background-color: $light-grey;
  }
}

.list-radio__input:disabled + .list-radio__text {
  color: $base-grey;
}

.list-radio__input:checked {
  border: 2px solid $base-primary;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 16px;
    height: 16px;
    background-color: $base-primary;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.list-radio__text {
  max-width: 280px;
  padding-right: 5px;
  padding-left: 34px;
  word-wrap: break-word;
}
