.page {
  height: 100%;
}

.page__body {
  position: relative;
  min-width: 320px;
  margin: 0;
  font-family: $font-montserrat;
  font-size: 12px;
  font-weight: 400;

  /*sticky footer*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
