.pagination {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    max-width: 395px;
    margin-left: auto;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 120px;
  }
}

.pagination__list {
  display: flex;
  gap: 20px;
}

.pagination__button {
  width: 40px;
  min-height: 40px;
  padding: 0;
  color: $base-primary;
  border: 0;
  border-radius: 4px;
  background-color: $base-white;
  word-wrap: break-word;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;

  &--prev,
  &--next {
    position: relative;

    @media (min-width: $tablet-width) {
      font-size: 0;
    }
  }

  &--prev {
    @media (min-width: $tablet-width) {
      width: 91px;
    }
  }

  &--next {
    @media (min-width: $tablet-width) {
      width: 104px;
    }
  }

  &:hover {
    color: $base-white;
    background-color: $primary-lighter;
  }

  &:focus {
    color: $base-white;
    background-color: $primary-lighter;
    outline: none;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    color: $base-white;
    background-color: $light-grey;
    cursor: auto;
  }
}

.pagination__button--current {
  color: $base-black;
  background-color: transparent;
  cursor: auto;

  &:hover,
  &:focus {
    color: $base-black;
    background-color: transparent;
  }
}


.pagination__button--prev span::before {
  @media (min-width: $tablet-width) {
    @include pagintation-span;

    content: "Назад";
  }
}

.pagination__button--next span::before {
  @media (min-width: $tablet-width) {
    @include pagintation-span;

    content: "Вперёд";
  }
}

.pagination__button--prev:hover span::before,
.pagination__button--next:hover span::before,
.pagination__button--prev:focus span::before,
.pagination__button--next:focus span::before {
  @media (min-width: $tablet-width) {
    color: $base-white;
  }
}

.pagination__button--prev:disabled span::before,
.pagination__button--next:disabled span::before {
  @media (min-width: $tablet-width) {
    color: $base-white;
  }
}
