.slide {
  min-height: inherit;

  &--decaf {
    background-color: #f3ebe1;
  }

  &--latte {
    background-color: #eae6fc;
  }

  &--expresso {
    background-color: #e5e6e8;
  }
}

.slide__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: inherit;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px;
    padding-top: 30px;
    padding-bottom: 84px;
    column-gap: 30px;
  }
}

.slide__image-wrapper {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    height: 288px;
    margin-top: 20px;
    margin-bottom: 0;
    order: 5;
  }

  @media (min-width: $desktop-width) {
    height: auto;
    margin-top: 0;
    margin-left: 26px;
    order: unset;
  }
}

.slide__image {
  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.slide__body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    align-items: start;
    text-align: start;
  }
}

.slide__badge {
  width: 80px;
  color: $base-primary;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin: 0 10px;
  margin-bottom: 4px;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    order: unset;
  }
}

.slide__title {
  max-width: 280px;
  margin: 0 10px 10px 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.72px;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    max-width: 608px;
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    order: unset;
  }
}

.slide__description {
  max-width: 280px;
  margin: 0 10px;
  margin-bottom: 20px;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    max-width: 608px;
    font-size: 20px;
    line-height: 32px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    order: unset;
  }
}

.slide__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    order: unset;
  }
}

.slide__difference {
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin: 0;
  word-wrap: break-word;

  @media (min-width: $desktop-width) {
    margin-left: 10px; //Подгон
  }
}

.slide__old-price {
  width: 40px;
  color: $base-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  word-wrap: break-word;
  padding-top: 1px; //Подгон
}

.slide__price {
  width: 52px;
  color: $base-black;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  word-wrap: break-word;
}

.slide__order {
  width: 114px;
  min-height: 40px;
  padding: 8px 20px;
  color: $base-white;
  border: none;
  border-radius: 4px;
  background-color: $base-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
