.toggle {
  position: relative;
}

.toggle__wrapper {
  position: relative;
  width: 42px;
  height: 24px;
}

.toggle__input {
  display: none;
}

.toggle__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 24px;
  background-color: $base-grey;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-color: $base-white;
    border-radius: 50%;
  }
}

.toggle__input:checked + .toggle__label {
  background-color: $base-primary;
}

.toggle__input:checked + .toggle__label::before {
  transform: translateX(18px); // Сдвиг белой точки на половину ширины флажка
}

.toggle__input:disabled + .toggle__label {
  background-color: $light-grey;
  cursor: auto;

  &::before {
    background-color: $lightest-grey;
  }
}

.toggle__input:hover + .toggle__label,
.toggle__input:focus + .toggle__label {
  box-shadow: inset 0 0 0 2px $primary-lighter;
  background-color: $primary-opacity;
  outline: none;
}

.toggle__input:hover:checked + .toggle__label,
.toggle__input:focus:checked + .toggle__label {
  box-shadow: none;
  background-color: $base-primary;
  outline: none;
}

.toggle__input:disabled:hover + .toggle__label,
.toggle__input:disabled:focus + .toggle__label {
  box-shadow: none;
  background-color: $light-grey;
  outline: none;
}

.toggle__text {
  position: absolute;
  top: 0;
  left: 52px;
  max-width: 228px;
  min-width: 100px;
  max-height: 24px;
  overflow-y: scroll; //По-другому не получилось
  padding-right: 5px;
  word-wrap: break-word;
}

.toggle__input:disabled + .toggle__label > .toggle__text {
  color: $base-grey;
}
