@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin menu-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@mixin nav-item-text {
  padding-left: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  word-wrap: break-word;
}

@mixin style-header-link {
  &:hover,
  &:focus {
    outline: none;
    color: $base-primary;
  }

  &:active:not(.header-menu__link--current) {
    background-color: $base-secondary;
  }
}

@mixin slider-switch {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    cursor: auto;
  }

  &:disabled::before {
    background-color: $base-grey;
  }

  &:disabled:hover,
  &:disabled:focus {
    background: unset;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 20px;
    display: block;
    background-color: $base-primary;
    mask-image: url("/images/icons/stack.svg#arrow");
  }

  @media (min-width: $tablet-width) {
    width: 80px;
  }
}

@mixin linear-gradient ($deg) {
  &:hover {
    background: linear-gradient($deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:focus {
    background: linear-gradient($deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    outline: none;
  }

  &:active {
    background: linear-gradient($deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

@mixin feature-icon {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    transform: translateX(25%); //Подгон
  }

  @media (min-width: $desktop-width) {
    position: relative;
    left: 50%;
    margin-bottom: 20px;
    transform: translateX(-50%);
  }
}

@mixin footer-padding {
  padding-bottom: 4px;

  &:last-child {
    padding-bottom: 0;
  }
}
