@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin menu-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@mixin nav-item-text {
  padding-left: 8px;
  text-transform: uppercase;
  word-wrap: break-word;
}

@mixin style-header-link {
  &:hover,
  &:focus {
    outline: none;
    color: $base-primary;
  }

  &:active:not(.header-menu__link--current) {
    background-color: $base-secondary;
  }
}

@mixin slider-switch {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  padding: 0;
  color: $base-primary;
  border: none;
  background-color: transparent;
  font-size: 36px;
  font-weight: 500;
  word-wrap: break-word;

  cursor: pointer;

  &:disabled {
    color: $base-grey;
    cursor: auto;
  }

  &:disabled:hover,
  &:disabled:focus {
    background: unset;
  }

  @media (min-width: $tablet-width) {
    width: 80px;
  }
}

@mixin linear-gradient ($deg) {
  &:hover {
    background: linear-gradient($deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:focus {
    background: linear-gradient($deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    outline: none;
  }

  &:active {
    background: linear-gradient($deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}
